In [2]:
count = 0
str_1 ="H!der123n89"
for var in str_1:  
    if(var.isnumeric()!=0):
        count=count+1
print(count)

5

In [15]:
def highest_number(a, b, c):
        if(a>b and a>c):
            return a
        elif (b>c):
            return b
        else:
            return c

print("Highest is",highest_number(10,15,24))

Highest is 24

In [16]:
import pandas as pd
data = pd.read_csv(r"C:/Users/Sudeshna Kundu/Documents/Automobile.csv")
data.head(10)

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
5,ford galaxie 500,15.0,8,429.0,198.0,4341,10.0,70,usa
6,chevrolet impala,14.0,8,454.0,220.0,4354,9.0,70,usa
7,plymouth fury iii,14.0,8,440.0,215.0,4312,8.5,70,usa
8,pontiac catalina,14.0,8,455.0,225.0,4425,10.0,70,usa
9,amc ambassador dpl,15.0,8,390.0,190.0,3850,8.5,70,usa